@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,100&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    font-family: 'Poppins', sans-serif;
    --contrast-color: #739169;
    --main-color: #222a2f;
    --add-color: #463f36;
}
.line{
    margin: 15px 0;
    height: 2px;
    width: 35px;
    background-color: #739169;
}
img{
    display:block ;
    width:100%;
}

.curve-line-w{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.curve-line{ 
    width: 278px;
    
}