.header {
    width: 100%;
    color: var(--main-color);
    font-family: "Poppins", sans-serif;
}

.header_box {
    display: flex;
    justify-content: space-between;
    padding: 0 24px;
    width: 100%;
    margin: 0 auto;
    padding-left: 24px;
    padding-right: 24px;
}

.hero {
    min-width: 320px;
    display: flex;
    flex-direction: column;
    padding-top: 100px;

}

@media (min-width:767px) {
    .hero {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0
    }

    #bg-pic1 {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 50% 25%;
    }


}

.hero_main {
    padding-left: 24px;
    padding-right: 24px;
}

.hero-h1 {
    font-family: Poppins, sans-serif;
    font-weight: 800;
    text-transform: none;
    text-decoration: none;
    font-style: normal;
    margin-top: 20px;
    font-size: 54px;

}

.jack {
    color: var(--contrast-color);
}

.hero_p {
    margin-top: 35px;
    display: block;
    color: var(--add-color);
    font-size: 20px;
}

.hero_btns {
    margin-top: 35px;
    font-size: 12px;
    line-height: 1em;
    font-weight: 600;
    margin-bottom: 35px;
}

.hero_btn-story {
    margin: 10px;
    color: white;
    background: var(--contrast-color);
    padding: 19px 21px;
    text-transform: uppercase;
    border: none;
    text-decoration: none;
    text-align: center;
    background-position: 50%;
    font-size: 12px;
    font-weight: 600;
    line-height: 1em;
    letter-spacing: .06em;
}

.hero_btn-ask {
    margin: 10px;
    color: var(--main-color);
    background: white;
    padding: 19px 21px;
    text-transform: uppercase;
    border-width: 1px;
    border-color: #f2efe9;
    border-style: solid;
    text-decoration: none;
    text-align: center;
    background-position: 50%;
    line-height: 1em;
    letter-spacing: .06em;
    font-weight: 600;
}


.bg-pic1 {
    position: relative;
    object-position: 50% 25.455%;
    margin-bottom: -100px;


}
