.page{
    max-width: 1030px;
    padding: 32px;
    margin: 0 auto;
    
}
#page-story{
    padding-top: 30px;
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
}
#dt-p:hover{
    text-decoration: none;
}
#page-header:hover{
    text-decoration: none;
}
#page-header{
    font-size: 42px;
    color: #222a2f;
    line-height: 1.143;
    font-family: Poppins,sans-serif;
    font-weight: 700;
}
#author-text{
    color: var(--add-color);
    padding-bottom: 20px;
}
#text-page{
    font-size: 16px;
    line-height: 1.6;
    font-family: Poppins,sans-serif;
    font-weight: 400;
    text-decoration: none;
    font-style: normal;
    letter-spacing: 0;
    color: #222a2f;
    text-transform: none;
}
#text-page:hover{
    text-decoration: none;
}

