.tips{
    padding: 65px 24px;
    background-color: #222a2f;

}
.tips-main-header{
display:flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.tips-h2{
    color: white;
    padding-top: 20px;
    font-family: Poppins,sans-serif;
    font-weight: 700;
    
}

.tips-container{
    margin-top: 45px;    
}

.tips-card{
    display: flex;
    flex-direction: column;
    padding: 0 15px;

}
.tips_story{
    margin-top: 20px;
    margin-bottom: 20px;
    
}
.tips_header{
    font-family: Poppins,sans-serif;
    font-weight: 500;
    color:white;
}
.tips_header:hover{
    text-decoration: underline;
}
.tips_text{
    font-family: Poppins,sans-serif;
    font-weight: 400;
    color:white;
    margin-top: 20px;
}
.tips_text:hover{
    text-decoration: underline;
}
.special-img{
    position: absolute;
    border-radius: inherit;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    font-family: "object-fit:cover";
    object-fit: cover;
}
.tips-image-second{
   
    display: block;
    position: relative;
    min-height: 40px;
    padding-top: 67%;
    overflow: hidden;

}
@media (min-width:767px){
    .tips-container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 45px 50px 0 50px;
        
    }
    .tips-card{
    flex-basis: 33.33333%;
    max-width: 33.33333%;
    }
}

.media{
background-image: url(../img/forest-bg.png);
background-size: cover;
background-position: center;
}
.media_header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 90px 15px;
}
.media-h2{
    font-family: Poppins,sans-serif;
    font-weight: 700;
    font-size: 34px;
    color: white;;
}
#w-line{
    display: flex;
    flex-direction: row;
    margin: 15px 0;
    height: 2px;
    width: 35px;
    background-color: white;
    justify-content: center;
}
.media-text{
    font-size: 20px;
    line-height: 1.5;
    color:white;
    font-weight: 400;
}
.media-icons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    padding: 0 15px;
}
.media-icon{
    height: 37px;
    width: 37px;
    margin: 0 3px 5px 3px;
}
.media-icon:hover{
    transform: scale(1.1);
    transition: 0.3s ease-in-out;
}